.imgShower {
    position: fixed;
    display: none;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 290px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.imgShowerCtn {
    display: flex;
    background-color: #e7e7e7;
    flex-direction: column;
    height: 75%;
    max-width: 80%;
    align-items: center;
}
.imgShowerCloser {
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5%;
    padding-top: 30px;
    background-color: #e7e7e7;
}
#imgShowerCloseBtn {
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    border: none;
    background-color: inherit;
    width: 30px;
    height: 100%;
    padding: 0 40px;
    cursor: pointer;
}
.imgShowerCtn__imgDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 95%;
    padding: 30px;
    background-color: inherit;
}
.imgShowerCtn__img {
    position: relative;
    height: 100%;
}
.imgShowerCtn__img img {
    height: 100%;
}
.showerPrev-btn, .showerNext-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid #d5b7bc;
    color: #d5b7bc;
    border-radius: 100%;
    border-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    align-content: center;
    cursor: pointer;
}
.showerPrev-btn {
    left: 1%;
}
.showerNext-btn {
    right: 1%;
}
.imgShowerCtn__rightSide {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: inherit;
}
.imgShowerCtn__desc {
    display: flex;
    color: black;
    flex-direction: column;
    gap: 6px
}
.imgShowerCtn__desc br {
    display: none;
}
.imgShowerCtn__desc h3 {
    font-size: 30px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d5b7bc;
    height: 50px;
    font-family: sans-serif;
    position: relative;
}
.logoheader {
    width: 30%;
    padding: 15px
}
.bignav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap : 30px;
    padding-right: 30px;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Baskerville';
    font: 'Baskerville';
}
body {
    background-color: #e7e7e7;
    min-width: 290px;
    margin: auto;
}

li{
    list-style-type: none;
}
.lien {
    text-decoration: none;
    font-style: sans-serif;
    color: #FFFFF9; 
}
main {
    background-color: #e7e7e7;
    max-height: auto;
    margin-bottom: 50px;
}
.photoPres {
    width: 100%;
    margin: 50 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    font-weight: 700;
}
.photoPres h2 {
    font-size: 30px;
}
.photoPres h3 {
    font-weight: 400;
}
.photoPresImg {
    padding: 5px;
    background-color: #d5b7bc; 
    width: 90%;
    max-width: 500px
}

.contactCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}
.contactCtn a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.instagramCtn, .facebookCtn, .numCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: #d5b7bc;
    color: white;
}
.tel-icon {
    height: 20px;
    width: 20px;
}
.num {
    color: black;
}
.facebook-icon {
    width: 20px;
    height: 20px;
}
.instagram-icon {
    width: 20px;
    height: 20px;
}
footer {
    background-color: #d5b7bc;
    display: flex;
    flex-direction: row;
    padding: 40px;
    font-size: 18px;
    color : floralwhite;
    text-align: center;
}
.adresse {
    width: 33%;
}
.description {
    width: 33%;
}
.horaire {
    width: 33%
}

.nouveaux-vetements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    }
.filterBar {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
	flex-direction: row;
	gap: 10px;
}

.filterBar__filter {
	border: 1px solid #d5b7bc;
	border-radius: 60px;
	min-width: 100px;
	height: 40px;
	padding: 0px 11px;
}

.filterBar__filter:hover {
	background-color: #d5b7bc;
}
.karmakiri p {
    font-family: "Whisper";
}
.filterBar__filter p {
	font-weight: 700;
	font-size: 16px;
    color: black;
}

.filterBar__filter:hover p {
	color: white;
}

.filterBar__filter button {
	 background-color: inherit;
	 border: none;
	 width: 100%;
	 height: 100%;
	 cursor: pointer;
}
.vetements-images {
    display: grid;
    width: 100%;
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.vetements-images .vetement {
    position: relative;
}

.vetement img {
    cursor: pointer;
}

.vetements-images img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.vetements-images .vetement:hover img {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
    opacity: 0.7; /* Réduit légèrement l'opacité de l'image au survol */
}

.vetements-images .vetement .vetement-overlay {
    position: absolute;
    bottom: -5%; /* Ajustez la position verticale au milieu de l'image */
    left: -10px;
    background: #d5b7bc;
    color: #fff;
    width: 100%;
    height: 30%;
    transition: .5s ease;
    opacity: 0;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
}

.vetements-images .vetement:hover .vetement-overlay {
    opacity: 1; /* Affiche le fond noir transparent au survol */
}

.vetement-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.vetement-info br {
    display: none;
}

.vetement-info h3 {
    font-size: 18px;
}

.vetement-info p {
    margin: 0;
    font-size: 14px;
}
.description-textHidden: {
    display: none;
    bottom: 0px;
}

.prev-btn {
    position: absolute;
    left: 1%;
    z-index: 1;
    top: 40%;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid #d5b7bc;
    color: #d5b7bc;
    border-radius: 100%;
    border-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    align-content: center;
    cursor: pointer;
}
.next-btn {
    position: absolute;
    right: 1%;
    z-index: 1;
    top: 40%;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid #d5b7bc;
    color: #d5b7bc;
    border-radius: 100%;
    align-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .BigNav {
        width: 65%;
    }
    .BigNav ul li {
        font-size: 14px;
    }
    .photoPres h2 {
        font-size: 24px;
    }
    .filterBar__Filter {
        width: 16.67%;
    }
    footer  {
        flex-direction: column;
        font-size: 14px;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .description {
        width: 80%
    }
    footer h5 {
        font-size: 12px;
    }
    .contactCtn {
        font-size: 14px;
        gap: 5px;
    }
    .vetements-images {
        grid-template-columns: 0.45fr 0.45fr;
    }
    .vetement-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .vetement-info h3{
        font-size: 16px;
    }
    .vetement-info h4 {
        font-size: 14px
    }
    .vetement-info p {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .imgShowerCtn {
        width: 100%
    }
    .imgShowerCtn__imgDesc {
        flex-direction: column;
        width: 100%;
        gap: 0px;
        padding: 30px 0 0 0;
    }
    .imgShowerCtn__img {
        height: 60%;
    }
    .imgShowerCtn__rightSide {
        height: 40%;
        width: 100%;
        justify-content: center;
        background-color: inherit;
    }
    .imgShowerCtn__desc {
        padding:3px 20px;
        background-color: #d5b7bc;
        color: white;
        justify-content: center;
    }
    .logoheader {
        height: 40px;
        width: auto;
        padding: 5px 0 0 20px;
    }
    .nouveaux-vetements{
        margin-top: 10%;
    }
    .contactCtn {
        flex-direction: column;
        width: 50%;
        gap: 15px;
    }
    .instagramCtn, .facebookCtn, .numCtn {
        width: 100%;
        height: 30px;
        justify-content: center;
    }
    .photoPres h2 {
        font-size: 24px;
    }
    .photoPres h3 {
        padding: 0 5px;
    }
    .vetement-info h3{
        font-size: 12px;
    }
    .vetement-info h4 {
        font-size: 10px
    }
    .vetement-info p {
        font-size: 8px;
    }
}
@media (max-width:290px) {
    .imgShowerCtn__img img {
        width: 150px;
    }
}